<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body onload="authenticateFidoWithConditional();">
<div>
    <div>
        <p style="text-align: left;">Sample Spring Security Login With Conditional UI</p>
        <hr>
    </div>

    <div id="conditionalUIArea">
        <p>
            <input type="text" id="username" name="username" autocomplete="username webauthn" placeholder="username" required autofocus>
        </p>
        <hr>
    </div>

    <div id="modalUiArea" hidden>
        <form name="authenticate" th:action="@{/login-fido2}" method="post">
            <p hidden>
                <input type="text" id="assertion" name="assertion">
            </p>
        </form>
        <div>
            <p>
                <div id="authenticatefidoStatus"></div>
            </p>
            <button href="#" type="button" id="authenticatefido">Passwordless login</button>
        </div>
        <hr>
    </div>

    <div>
        <a href="login">username/password login</a>
        <hr>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="js/index.js"></script>

</body>
</html>
