<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>FIDO2 Authenticate</title>
</head>
<body onload="authenticateFido();">
<div>
    <p style="text-align: left;">FIDO2 Authenticate</p>
    <form name="authenticate" th:action="@{/login-fido2}" method="post">
        <p hidden>
            <input type="text" id="assertion" name="assertion">
        </p>
    </form>
    <div>
        <button href="#" type="button" id="authenticatefido">authenticate</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="js/index.js"></script>

</body>
</html>
